#user-info {
    margin-top: 20px;
}

#user-info #avatar {
    width: 180px;
    height: 180px;
}

#user-info .page-header {
    margin-top: 0;
}

#user-info .page-header h1 {
    margin-top: 5px;
}

#repositories .repository {
    min-height: 70px;
}

#repositories .repository h3 {
    margin-top: 0;
    font-size: 1.3em;
}

#repositories .repository-desc {
    width: 80%;
}

#repositories .repository-meta {
    text-align: right;
}

#repositories .repository-meta .meta.lang {
    font-size: .9em;
    font-weight: bold;
}

#repositories .repository-meta .glyphicon {
    margin-left: 5px;
}

#repositories .repository-meta .glyphicon:first-child {
    margin-left: 0;
}

.container.loading {
    margin-top: 100px;
    width: 32px;
    height: 32px;
    background: url('../images/loader.gif') no-repeat;
}

#footer {
    border-top: 1px solid #ccc;
    padding: 10px 0;
    text-align: center;
}

.app-error {
    margin-top: 20px;
}