#user-info {
    margin-top: 20px;
}

#user-info #avatar {
    width: 180px;
    height: 180px;
}

#user-info h1 {
    margin-top: 0;
}

#repositories .repository h3 {
    margin-top: 0;
    font-size: 1.3em;
}

#repositories .repository-meta .glyphicon {
    margin-left: 5px;
}

#repositories .repository-meta .glyphicon:first-child {
    margin-left: 0;
}

.container.loading {
    margin-top: 100px;
    width: 32px;
    height: 32px;
    background: url('../images/loader.gif') no-repeat;
}