<div id="user-info" class="row">
    <div class="col-md-2">
        <img src="{{ user.avatar_url }}" class="img-rounded" id="avatar">
    </div>
    <div class="col-md-10">
        <div class="page-header">
            <h1>
                <span class="label label-primary pull-right">{{ user.total_contributions }} contributions</span>
                {{ user.name }} 
                <small>GitHubber since {{ helper.getDateObject(user.created_at).getFullYear() }}</small>
            </h1>
        </div>
        {{ #user.email }}
          <p><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
        {{ /user.email }}
        {{ #user.location }}
          <p><span class="glyphicon glyphicon-map-marker"></span> {{ user.location }}</p>
        {{ /user.location }}
        {{ #user.blog }}
          <p><span class="glyphicon glyphicon-globe"></span> <a href="{{ user.blog_href }}">{{ user.blog_anchor }}</a></p>
        {{ /user.blog }}
        {{ #user.hirable }}
          <p><span class="glyphicon glyphicon-record"></span> Hirable!</p>
        {{ /user.hirable }}
        <p>{{ user.bio }}</p>
    </div>
</div>

<div class="row">
    <div id="repositories" class="col-md-7">
        <h2>Repositories</h2>
        <ul class="list-group">
            {{ #user.repositories }}
            <li class="list-group-item repository">
                <div class="pull-right repository-meta">
                    <p class="meta lang">{{ language }}</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span> {{ stargazers_count }}
                        <span class="glyphicon glyphicon-random"></span> {{ forks_count }}
                    </p>
                </div>
                <h3><a href="{{ html_url }}" target="_blank">{{ name }}</a></h3>
                <p class="repository-desc">{{ description }}</p>
            </li>
            {{ /user.repositories }}
        </ul>
    </div>

    <div id="languages" class="col-md-5">
    <h2>Languages</h2>
        {{ #user.languages }}
        {{ name }}
        <div class="progress progress-striped">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ helper.getLanguagePercentage(count, user.repositories) }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ helper.getLanguagePercentage(count, user.repositories) }}%;">
            </div>
        </div>
        {{ /user.languages }}
    </div>
</div>